 #root {
  padding: 0;
  margin: 0;
     box-sizing: border-box;
 }

 #newsContainer{
  background-color: rgb(232, 238, 238);
    width: 90%;
    /* border: 2px solid darkblue; */
    padding: 20px;
    margin: 0 auto;
    /* height: 50vw; */
  display: flex;
  flex-direction: column;
  gap: 5px;
 }
 .newsItemContainer{
  /*  */
  padding: 10px 0 10px 0;
    height: 100%;

  /* background-color: bisque; */
  /* border: 1px solid red; */
 }
 .card-body{
  /* height: 100%; */
    display: flex;
    flex-direction: column;
  /* border: 2px solid black; */
  }

 .newsReadMoreButton{
    margin-top: auto;
    align-self: baseline;
 }

 /* Hero News Component */
 .heroNewsContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* border: 3px solid red; */
   /* width: 90%; */
   height: 100%;
   margin: 0 auto;
   background-color: white;
   
 }
 .cardCoontainer{
   display: flex;
   flex-direction: row;
   height: 80%;
   width: 100%;
   /* border: 2px solid yellow; */
 }
 .HeroCardBbody{
   display: flex;
   justify-content: center;
   align-content: center;
   flex: 0 0 40%;
   padding: 0 20px 0 20px;
   /* border: 2px solid brown; */
 }
 .heroImageContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex: 0 0 60%;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 0;
  /* border: 3px solid fuchsia; */
}

.heroImageContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.heroImageContainer:hover::before{
  opacity: 1;
}

.heroImageContainer:hover .heroImage {
  transform: scale(1.03);
  transition: transform 0.4s ease;
}

.HeroreadMoreButton{
   z-index: 2;
   top: 50%;
   left: 45%;
   opacity: 0;
   position: absolute;
     transition: opacity 0.25s ease-in-out, translate(-50%, -50%);;

   
}
.heroImageContainer:hover .HeroreadMoreButton{
   opacity: 0.8;
  transition: opacity 0.4s ease-in-out;
}





/* Category preview component */
/* Category preview component */
.categoryPreviewSection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* margin: 40px 0; */
}

.categoryPreviewContainer {
  width: 100%;
  /* max-width: 1200px; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 220px;
  gap: 12px;
}

/* Big tile */
.categ1 {
  grid-column: span 2;
  grid-row: span 2;
}

/* Normal tiles */
.categ2,
.categ3,
.categ4 {
  grid-column: span 1;
  grid-row: span 1;
}
.categ5{
  grid-column: span 2;
}

.categ1 {
  grid-column: span 2;
  grid-row: span 2;
}

/* Normal tiles */
.categ1,
.categ2,
.categ3,
.categ4,
.categ5{
  cursor: pointer;
}

/* Image styling */
.previewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.categ4{
  position: relative;
  z-index: 4;
}
.previewButton{
  position: relative;
  position:absolute;
  text-decoration: none;
  opacity: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: x-large;
  font-style: oblique;
   transition: opacity 0.2s ease-in-out;
   z-index: 3;
}

.previewButton::before{
content: "";
position: absolute;
width: 100px;
height: 5px;
margin-top: 5px;
z-index: 2;
background-color: yellow;
transition: width 0.4s ease-in-out;
bottom: 0;
}
.previewButton:hover::before{
  width: 200px;
    transition: width 0.4s ease-in-out;

}
.categ4:hover .previewButton{
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}





/* News card style */

.newsCard{
  height: 100%;
  display: flex;
  flex-direction: column;
/* gap: 10px; */
  /* border: 3px solid darkblue; */
}
.newsTitle{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* border: 2px solid aqua; */
}
.newstext{
 display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
    /* border: 2px solid aqua; */

}

.readMoreButton{
    /* border: 2px solid aqua; */

}
.imgcontainer{
  /*  */
  height: 200px;
overflow: hidden;

/* border: 2px solid lawngreen; */
}
.card-img-top{
  /*  */
  width: 100%;
  height: 100%;

  /* border: 2px solid skyblue; */
  object-fit: cover;
}

.news-card-body {
  /*  */
display: flex;
  flex-direction: column;
  flex: 1;  

  }


